@import url('http://fonts.cdnfonts.com/css/josefin-sans?styles=19769,19767,19770,19764');
@import url('http://fonts.cdnfonts.com/css/aleo?styles=14785,14783,14780');
*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .5s ease;
}

html, body {
    width: 100%;
    height: 100%;
}

img {
    vertical-align: top;
}

ul, li {
    list-style: none;
}

body {
    background-color: #fff;
    font-family: 'Josefin Sans', 'Aleo', 'sans-serif';
    font-size: 1rem;
    min-width:350px;
    border: solid 15px #fff;
}

.container {
    width: 90%;
    max-width:1110px;
    margin: 0 auto;
    h1 {
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 48px;
        font-weight: 600;
        padding-top: 265px; 
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    h2{
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 22px;
        font-weight: 100;
        margin-bottom: 50px;
        letter-spacing: 3px;
    }
    h1, h2 {
        text-align: center;
        color: #fff;
        
    }
}
.block_1 {
    background: url(../images/Image_header.png) center center/cover no-repeat;;
    min-height: 740px;
}
.search {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 115px;
    letter-spacing: 4px;
}
.block_input {
    display: flex;
    justify-content: wrap;
}
input {
letter-spacing: 3px;
color: #999999;
font-family: 'Josefin Sans', 'sans-serif';
font-size: 14px;
font-weight: 400;
padding-left: 100px;

}
.d2 input, .d2 button {
   border: solid 3px #fff;
    outline: none;
    height: 55px;
}
.d2 {
    width: 60%;
    height: 55px;
    background: #fff;
        input {
        width: 100%;
        text-align: center;
    }
}
.btn_search {
    font-family: 'Aleo', 'sans-serif';
    font-size: 10px;
    font-weight: 400;
    width: 20%;
    border: none;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 30px;
    color: #fff;
    background-color: #5474fd;
    &:hover {
        background-color: #1e295a;
    }
    button [type="search"] {
        width: 150px;
        height: 49px;
    }
}
.scroll_down{
    font-family: 'Josefin Sans', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 135px;
    .checkmark {
        font-family: arial;
        -ms-transform: scaleX(-1) rotate(-45deg);
        -webkit-transform: scaleX(-1) rotate(-45deg);
        transform: scaleX(-1) rotate(-45deg);
    }
}
.nav_bg {
    background-color: #5474fd;
    height: 80px;
}  
.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    padding-top: 20px;
}
.main_menu {
    font-family: 'Aleo', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    li {
        + li {
            margin-left: 22px;
            }
        a {
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            text-decoration: none;
            padding: 20px 10px;
             &:hover {
                color: #1e295a;
                transition: all .10s ease;
                }
            }
                
        }
    }
}

.block_2 {
    background: url(../images/Image_block2.png) center center/cover no-repeat;;
    min-height: 680px;
    .collum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 90px;
    margin-bottom: 120px;
   
    }
    .collum-1 {
        width: 45%;
        height: 500px;
    }
    h2 {
        font-family: 'Aleo', 'sans-serif';
        font-size: 36px;
        font-weight: 400;
        text-align: left;
        padding-top: 90px;
    }
    .text {
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 16px;
        font-weight: 300;
    }
    p{
        margin-bottom: 15px;
    }
    .btn-block-2 {
        border: none;
        height: 60px;
        width: 225px;
        padding: 0 25px;
        font-family: 'Aleo', 'sans-serif';
        font-size: 16px;
        font-weight: 400;
        font-size: 16px;
        background-color: #5474fd;
        color: #fff;
        text-transform: uppercase;
        
        &:hover {
            background-color: #1e295a;
            transition: all .5s ease;
        }
    }
    .collum-2{
        width: 50%;
        height: 500px;
        .img img {
            width: 70%;
        }
        .pic-1 {
            padding-bottom: 15px;
        }
        .pic-2 {
           text-align: right;
        }
    }
   .icon {
    background-color: #333333;
    height: 240px;
   }
   .shape {
       text-align: center;
       margin-right: 25px;
       padding-top: 10px;
   }
   .icon-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   }
   .icon-svg {
       margin-bottom: 30px;
       padding-left: 55px;
   }
   .title {
       color: #fff;
       font-family: 'Aleo', 'sans-serif';
       font-size: 30px;
       font-weight: 400;
   }
}
.block_3 {
    background: url(../images/Image_block3.png) center center/cover no-repeat;;
    min-height: 700px;
    padding-top: 220px;
}
.collum-one {
    background-color: rgba($color: #0000003d, $alpha: 0.6);
    width: 54%;
    height: 370px;
    padding: 40px 50px 45px 30px;
    .title {
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 20px;
        font-weight: 300;
        padding-top: 50px;
        color: #fff;
        padding-bottom: 30px;
      
    }
    h2 {
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: left;
    }
    p {
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        padding-bottom: 40px;
        
    }
    .btn-block-3 {
        border: none;
        height: 60px;
        width: 225px;
        padding: 0 25px;
        font-family: 'Aleo', 'sans-serif';
        font-size: 16px;
        font-weight: 400;
        background-color: #5474fd;
        color: #fff;
        text-transform: uppercase;
        &:hover {
            background-color: #1e295a;
            transition: all .5s ease;
        }
    }
}
.block_4 {
    background: url(../images/Image_block4png.png) center center/cover no-repeat;;
    min-height: 700px;
    padding-top: 240px;
}
.collum-two {
    display: flex;
    justify-content: flex-end;
    background-color: rgba($color: #0000003d, $alpha: 0.6);
    width: 54%;
    height: 370px;
    padding: 40px 50px 45px 30px;
    margin-left: auto;
    margin-right: 0;
    .title {
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 20px;
        font-weight: 300;
        padding-top: 50px;
        color: #fff;
        padding-bottom: 30px;
        }
    h2 {
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: left;
    }
    p {
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        padding-bottom: 40px;
    }
    .btn-block-4 {
        border: none;
        height: 60px;
        width: 225px;
        padding: 0 25px;
        font-family: 'Aleo', 'sans-serif';
        font-size: 16px;
        font-weight: 400;
        background-color: #5474fd;
        color: #fff;
        text-transform: uppercase;
        &:hover {
            background-color: #1e295a;
            transition: all .5s ease;
        }
    }
}
.block_5 {
    background: url(../images/Image_block5.png) center center/cover no-repeat;;
    min-height: 700px;
    padding-top: 115px;
    h2 {
        font-family: 'Aleo', 'sans-serif';
        font-size: 36px;
        font-weight: 400;
        text-align: center;
    }
    .collum-center{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 220px;
    background-color: #333333;
    }
    .collum-left {
        display: flex;
        float: left;
    }
    .collum-right {
        width: 50%; 
        padding-left: 50px;
        padding-top: 55px;
        color: #fff;
    }
    .title-b5 {
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    p {
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 16px;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        padding-left: 20px;
        
    }
}
footer {
    background-color: #232323;
    min-height: 270px;
    text-align: center;
    
    
    .footer-logo {
        padding-top: 100px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
    }
    h3 {
        font-family: 'Josefin Sans', 'sans-serif';
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 28px;
        color: #fff;
    }
    ul {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
    }
    a {
        text-decoration: none;
        color: #fff;
        text-align: center;
    }
   
    li {
        margin-left: 10px;
        &:hover {
        color: #5474fd;
        }
    }
    
}



   
    
    
    


